:root {
    --bg-color: #aaddff;
    --second-bg-color: #aaddff;
    --text-color: #000000;
    --main-color: #000000;
}
body {
    background-color: var(--bg-color); /* Use the variable for the body's background */
}
table {
    border-collapse: collapse;
    border-spacing: 10px; /* Adjust this value to increase or decrease the spacing */
    margin-left: 100px; /* Optional: To center the table */
}
td {
    width: 700px;
    height: 400px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 10px solid black;
    border-top: 10px solid black;
    text-align: center;
    vertical-align: middle;
    border-left: 10px solid black;
    border-right: 10px solid black; /* Add a border to the right of each cell */
    position: relative; /* Ensure position relative for absolute positioning inside */
}
img {
    width: 700px; /* Adjust the width of the image */
    height: 500px; /* Adjust the height of the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease; /* Smooth transition on hover */
}
img:hover {
    transform: scale(1.1); /* Zoom in effect on hover */
}
.tech-stack {
    display: none; /* Initially hide the tech stack */
    position: absolute;
    top: 50%; /* Adjust as per your layout */
    left: 50%; /* Adjust as per your layout */
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
    text-align: left; /* Align text to the left */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    z-index: 1; /* Ensure it's above the image */
    width: 300px; /* Adjust width as needed */
}
td:hover .tech-stack {
    display: block; /* Show the tech stack on hover */
}
div {
    text-align: center;
    color: var(--text-color); /* Use the variable for the text color */
    text-size-adjust: 100px;
    font-weight: bold;
}
hr {
    border-top: 10px solid black;
    height: 1px;
    background: #333; /* Or any color you prefer */
    margin-top: 5px; /* Adjust space above the line */
    margin-bottom: 5px; /* Adjust space below the line */
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.grid-item {
    position: relative;
    overflow: hidden;
}
.grid-item img {
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.grid-item:hover .overlay {
    opacity: 1;
}