* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.element {
  background-clip: padding-box; /* Standard property */
  -webkit-background-clip: padding-box; /* Vendor-prefixed property for WebKit browsers */
  background-clip: padding-box; /* Define the standard property for compatibility */
}
.about-columns {
  display: flex;
  gap: 20px; /* Adjust the gap between columns as needed */
}

.column {
  flex: 1; /* Each column takes equal width */
  padding: auto;
  background-color: #aaddff; /* Example background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example box shadow */
}

.column h3 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.column p {
  font-size: 2rem;
  line-height: 1.6;
}


:root {
  --bg-color: #aaddff;
  --second-bg-color: #aaddff;
  --text-color: #000000;
  --main-color: #000000;
}
/* Basic styling for the header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Adjust background color as needed */
  z-index: 1000; /* Ensure it's above other content */
  padding: 10px 20px; /* Adjust padding as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add shadow for a lifted effect */
}

.header .logo {
  display: inline-block;
  vertical-align: middle;
}

.header .navbar {
  float: right; /* Align navigation to the right */
}

.header .navbar a {
  text-decoration: none;
  color: #333; /* Adjust link color */
  margin-left: 20px; /* Adjust spacing between links */
  transition: color 0.3s ease; /* Smooth transition for link color */
}

/* Adjust menu icon style */
.bx-menu {
  display: none; /* Hide menu icon on larger screens */
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
  .header .bx-menu {
    display: block; /* Show menu icon on smaller screens */
    cursor: pointer;
  }

  .header .navbar {
    display: none; /* Hide navigation links by default on smaller screens */
    position: absolute;
    top: 60px; /* Adjust distance from top as needed */
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .header .navbar.active {
    display: block; /* Show navigation links when menu icon is clicked */
  }
}

::-webkit-scrollbar {
  width: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scrollbar-width: none;
  -moz-scrollbar-width: none;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
}


.header.sticky {
  background: var(--bg-color);
}

.logo {
  position: relative;
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar {
  position: relative;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  position: relative;
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url('../assets/home.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.home-content {
  max-width: 60rem;
  z-index: 99;
}

.home-content h1 {
  position: relative;
  display: inline-block;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h1 span {
  color: var(--text-color);
}

.home-content .text-animate {
  position: relative;
  width: 32.8rem;
}

.home-content .text-animate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.7px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  background-position: -33rem 0;
}
.text-slider {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.slider-item {
  display: none;
}

.slider-item:first-child {
  display: block;
}

.slider-text {
  display: inline-block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slider-item {
  animation: fadeIn 1s ease-in-out forwards;
}

.animate {
  animation: scroll 1s ease-in-out infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.home.show-animate .home-content .text-animate h3 {
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

.home-content .text-animate h3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid var(--main-color);
  z-index: -1;
}

.home.home.show-animate .home-content .text-animate h3::before {
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
}

.home-content p {
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: var(--bg-color);
}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: transparent;
  transition: 3s;
}

.home-imgHover:hover {
  background: var(--bg-color);
  opacity: 0.8;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--second-bg-color);
  padding-bottom: 6rem;
}

.heading {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

.about-img-main {
  position: absolute;
  top: 50%; /* Adjust top position as needed */
  right: 15%; /* Adjust right position to move it towards the right side */
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: 0.2rem solid var(--main-color); /* Border for the circle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img-main img {
  width: 500px;
  height: 500px;
  border: 2px solid #000000; /* 2px solid black border */
  box-sizing: border-box;
}

/* Adjust other styles as necessary */
.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 90%;
  border-radius: 50%;
  border: 0.2rem solid var(--main-color);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--second-bg-color);
  border-bottom: 0.2rem solid var(--second-bg-color);
  border-left: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);
  animation: aboutSpinner 8s linear infinite;
}

.about-content {
  text-align: center;
}

.about-content h3 {
  position: relative;
  display: inline-block;
  font-size: 2.6rem;
}
.about-content {
  position: relative;
}

.text-slider {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked ~ .text-slider {
  max-height: 1000px; /* Adjust height based on content */
  transition: max-height 0.5s ease-in;
}

.slider-item {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

input[type="radio"]:checked ~ .text-slider .slider-item {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.slider-item {
  margin: 20px 0;
}

.slider-text {
  display: block;
}

.slider-nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slider-nav label {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #888;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
  transition: background 0.3s ease;
}

input[type="radio"]:checked + .slider-nav label {
  background: #333;
}

/* Automatic slide change every 7 seconds */
#slide1:checked ~ #slide2:checked ~ #slide3:checked {
  position: absolute;
  left: -9999px; /* Hide the actual radio inputs */
}

#slide1:checked ~ #slide2:checked ~ #slide3:checked ~ #slide1 {
  animation: auto-slider 21s infinite; /* 7s per slide, 3 slides */
}

@keyframes auto-slider {
  0%, 33.3% {
    transform: translateX(0);
  }
  33.3%, 66.6% {
    transform: translateX(-100%);
  }
  66.6%, 100% {
    transform: translateX(-200%);
  }
}

.about-content p {
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

.btn-box.btns a::before {
  background: var(--second-bg-color);
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column {
  flex: 1 1 40rem;
}

.education-column .title {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
  position: relative;
  border-left: 0.2rem solid var(--main-color);
}

.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}

.education-box .education-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.education-content .content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.education-content .content:hover::before {
  width: 100%;
}

.education-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}

.education-content .content .year i {
  padding-right: 0.5rem;
}

.education-content .content h3 {
  font-size: 2rem;
}

.education-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}



input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text,
.footer-iconTop {
  position: relative;
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  z-index: 1;
  overflow: hidden;
}

.footer-iconTop a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.footer-iconTop a:hover::before {
  width: 100%;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--bg-color);
  transition: 0.5s;
}

.footer-iconTop a:hover i {
  color: var(--main-color);
}

/* ANIMATION RELOAD AND SCROLL */
.animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 98;
}

.animate.home-img {
  width: 50%;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
  animation: showRight 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
}

.animate.scroll {
  transition: 1s ease;
  transition-delay: calc(0.3s / var(--i));
  animation: none;
}

section:nth-child(odd) .animate.scroll,
.footer .animate.scroll {
  background-color: var(--second-bg-color);
}

.education .education-box .animate.scroll {
  width: 105%;
}
.skills-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.logo img {
  height: 100px; /* Adjust as necessary */
  width: auto;
}

.contact .input-field input,
.contact .textarea-field textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}
body {
  font-family: Arial, sans-serif;
}

.contact {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.input-field {
  flex: 1;
  min-width: 250px;
  position: relative;
}

.input-field input,
.textarea-field textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

.input-field input:focus,
.textarea-field textarea:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.textarea-field {
  position: relative;
}

.textarea-field textarea {
  min-height: 150px;
}

.btn-box {
  text-align: center;
}

.btn {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.animate.scroll {
  display: none; /* Adjust based on your animation requirements */
}

.contact .input-field input:focus,
.contact .textarea-field textarea:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.contact .btn-box .btn {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact .btn-box .btn:hover {
  background-color: #0056b3;
}

.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.footer.show-animate .animate.scroll {
  transition-delay: calc(0.3s * var(--i));
  width: 0;
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 4% 2rem;
  }

  .home {
    padding: 0 4%;
  }

  .footer {
    padding: 2rem 4%;
  }
}

@media (max-width: 850px) {
  .animate.home-img {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .header {
    background: var(--bg-color);
  }

  #menu-icon {
    display: block;
  }

  .site-footer {
    text-align: center;
    padding: 2rem;
    font-size: 10px;
    background-color: #aaddff; 
    color: #000000; 
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--main-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.25s ease;
    transition-delay: 0.25s;
  }

  .navbar.active {
    left: 0;
    transition-delay: 0s;
  }

  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active .active-nav {
    left: 0;
    transition-delay: 0.25s;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);
    transition: 0.25s ease;
    transition-delay: 0s;
  }

  .navbar.active a {
    transform: translateX(0);
    transition-delay: 0.25s;
  }

  .home-imgHover {
    pointer-events: none;
    background: var(--bg-color);
    opacity: 0.6;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 50%;
  }

  .home-content h1 {
    display: flex;
    flex-direction: column;
  }

  .home-sci {
    width: 160px;
  }

  .home-sci a {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 462px) {
  .home-content h1 {
    font-size: 5.2rem;
  }

  .education {
    padding: 10rem 4% 5rem 5%;
  }


  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    margin-top: 2rem;
    text-align: center;
  }
}

@media (max-width: 371px) {
  .home {
    justify-content: center;
  }

  .home-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .home-content h1 {
    font-size: 5rem;
  }
}

/* KEYFRAMES ANIMATION */

@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -33rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


@keyframes showRight {
  100% {
    width: 0;
  }
}